<div class="p-3 footerStyle text-light">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-3 text-center">
            <div class="col order-last order-md-first text-md-start">
                <div class="row">
                    <span class="me-1">Built By</span>
                    <span>
                        <img src="/images/MarkSpectreLogoLight.png" alt="MarkSpectreLogoLight" height="30" />
                    </span>
                </div>
                <div class="col-12">
                    &copy; 2026 by Charles Smith. All rights reserved. 
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="/images/MagicCodeHLogo.png" alt="MagicCodeHLogo" height="50" />
            </div>
            <div class="col d-flex align-items-center flex-column justify-content-end text-md-end">
                <div class="row">
                    <div class="col-12">
                        <a href="#"><i class="bi bi-youtube"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="col-12 small">
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
