@page "/"

<PageTitle>Home</PageTitle>

@* Page Background *@
<div class="pageStyle h-100 d-flex justify-content-center">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img src="/images/LandingPageLogo.png" alt="Hello there Image not working" class="img-fluid">
        </div>
    </div>

</div>

